
body{ overflow:hidden; }
.aside{ min-width:100px; }
content{ 
	max-height: 90vh!important;	
	overflow:auto; 
}
.img{ 
	padding:20;
	filter:contrast(1.3);
}
video{
	width:100%; 
	height:100%; 
	filter:contrast(1.3);
}
iframe{ 
	padding:0; 
	border:0px; 
	width:100%; 
	height:100%; 
	overflow:hidden; 
	background-color: transparent; 
}